<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madman Games</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="nav">
        <ul>
            <center><h1>MADMAN GAMES</h1></center>
        </ul>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="free.html">Free</a></li>
            <li><a href="paid.html">Paid</a></li>
            <li><a href="adventure.html">Adventure</a></li>
            <li><a href="puzzle.html">Puzzle</a></li>
            <li><a href="strategy.html">Strategy</a></li>
            <li><a href="action.html">Action</a></li>
        </ul>
    </div>
    <div class="free">
        <h2>Free</h2>
        <table>
            <tr>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Snake</h1>
                        <p class="price">Free</p>
                        <p>You play as a snake trying to eat apples... But dont run into the walls!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <img src="images/snake.jfif" alt="Snake" style="width:100%">
                        <h1>Dot Blast</h1>
                        <p class="price">Free</p>
                        <p>Blast the dots before they eat you!!</p>
                        <p><button>Play</button></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>